/* ============================== */
/************ BUTTONS *************/
/* ============================== */

/* ============================== */
/* .btn = base button */
/* .btn-palette (inherit user-defined custom form styling) */
/* .btn-white */
/* .btn-white-border */
/* .btn-black */
/* .btn-darkblue */
/* .btn-lightblue */
/* .btn-green */
/* .btn-orange */
/* .btn-red */
/* ============================== */

.btn {
  display: inline-block;
  padding: 9px 12px 7px 12px;
  width: fit-content;
  font: .9rem/1rem sans-serif;
  line-height: 1.2rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #d1dade;
  color: #5e5e5e;
  background-image: none !important;
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: none;
  box-shadow: none;
  transition: all 0.12s linear 0s !important;
}
.btn-palette{
  background-color: var(--form-palette);
  color: var(--form-btn-text-color);
}
.btn:focus{
  outline: none;
}
.btn-white{
  background-color: #f7f7f7;
  color: #5e5e5e;
}
.btn-white-border{
  background-color: #f7f7f7;
  color: #5e5e5e;
  border: 1px solid #e5e9ec;
}
.btn-dark{
  background-color: #42444a;
  color: #f9f9f9;
}
.btn-darkblue{
  color: #f9f9f9;
  background-color: #1d72bc;
}
.btn-lightblue{
  color: #f9f9f9;
  background-color: #50cbf1;
}
.btn-green{
  color: #f9f9f9;
  background-color: #55be55;
}
.btn-orange{
  color: #f9f9f9;
  background-color: #f8a22a;
}
.btn-red{
  color: #f9f9f9;
  background-color: #d23934;
}


/* ============================== */
/* OVERRIDE WITH YOUR STYLES WHERE REQUIRED */
/* use !important if necessary*/

/* FANCY HOVER */
/* wrap an <a href> around a <span> */

/* 
  example: 
  <a href="https://open.spotify.com/artist/66OsKKYin7yLMQUsZxjE91">
      <span>Hover</span>
  </a>
*/
/* ============================== */
span {
  padding: 10px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    to top,
    #ffeb44,
    #ffeb3b calc(100% - 22px),
    rgba(0, 0, 0, 0) calc(100% - 22px),
    rgba(0, 0, 0, 0)
  );
  background-origin: padding-box;
  background-position-x: 128px; /* adjust for word width */
  background-position-y: -50%;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  box-sizing: border-box;
  color: rgb(64, 64, 64); 
  cursor: pointer;
  display: inline-block;
  font-family: arial, sans-serif;
  /* font-size: 56px; */
  /* line-height: 64px; */
  text-decoration-color: rgb(64, 64, 64);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease;
  visibility: visible;
  }
  span:hover {
  background-position: 0px 100%;
  }
